<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{template :: header (pageTitle='storage')}"></head>

<body>
<form action="#" th:action="@{/storage/add}" method="post">
    <label for="product">Title</label>
    <select th:field="*{product}" id="product">
        <option th:each="product : ${products}" th:value=${product} th:text="${product.title}"></option>
    </select>
    <br>
    <label for="quantity">Description</label>
    <input type="text" th:field="*{quantity}" id="quantity" th:value="@{quantity}" placeholder="Quantity">
    <br>
    <input type="submit" value="Add product to storage">
</form>
</body>
</html>