server:
  port: 8090
spring:
  datasource:
    url: jdbc:mysql://localhost:3311/springdb
    username: user_spring
    password: spring123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true